/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
}

.img-tonda {
    border-radius: 50%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: NONE;
}

.icon1 {
    fill: rgb(214, 40, 40);
    stroke: red;
}

/* sezione contenuto principale */
main {
    display: flex;
    height: calc(100vh - 80px);
}

/* sidebar di sinistra */
.sidebar-sx {
    background-color: rgb(0, 0, 0);
    width: 200px;
    padding-left: 10px;
    /* position: fixed; */
    /* top: 0;
    bottom: 80px; */
    color: lightgrey
}

.sidebar-sx a {
    color: lightgray;
}

.container-sidebar-sx {
    padding: 10px;
    height: calc(100% - 65px );
    overflow: auto;
}

.padding-playlist {
    padding-top: 10px;
    max-width: calc(100vh - 50px);
}

.sidebar-icon-sx {
    max-width: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.playlist-father {
    max-height: 100vh;
}

.playlist-section h3 {
    margin-bottom: 7px;
    margin-top: 20px;
}

/* profilo */

.profile-area {
    /* position: fixed;
    bottom: 90px; */
    height: 65px;
}

.profile-area-spacing {
    border: 1px solid rgb(190, 168, 168);
    margin-top: 10px;
    margin-bottom: 15px;
}


/* sezione upgrade */
.upgrade {
    height: 10vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 200px;
}

.effettua-upgrade {
    border: 1px solid rgb(244, 239, 239);
    padding: 10px 25px;
    border-radius: 30px;
}

.effettua-upgrade strong {
    color: white;
}

/* sezione da mettere in trasparenza (upgrade) */
.sidebar-dx {
    background-color: #192025;
    width: calc(100% - 200px);
    overflow: auto;
    /* padding-left: 200px; */
    color: white;
}

.categories {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 10vh;
    padding-top: 20px;
    padding-bottom: 40px;
}

.categories a {
    padding: 10px;
    color: gray;
    font-weight: 600;
}

.categories-description {
    padding: 10px 15px;
}

.categories-description p {
    padding-top: 15px;
}

.image-container {
    display: flex;
    gap: 10px;
    padding: 40px 15px;
}

.image-item {
    width: calc((100% / 6))
}

.image-item-gray {
    color: lightgray;
}

.align-center {
    text-align: center;
}

/* postazione controlli su varia musica */
.nav-bar {
    /* position: fixed;
    bottom: 0;
    right: 0;
    left: 0; inutile */
    height: 80px;
    background-color: #262222c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar a {
    color: white;
    padding: 2px;
}

.nav-bar-center a {
    font-size: 25px;
    padding: 8px;
}

.nav-bar-center-time {
    display: flex;
    justify-content: center;
}

.nav-bar-description {
    margin-left: 15px;
    margin-right: 40px;
}

.nav-bar-sx {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.nav-bar-sx-img {
    max-width: 50px;
}

.nav-bar-sx-description {
    margin: 0 30px 0 5px;
}

/* responsive desktop piccolo */

@media screen and (max-width:950px) {
    .categories {
        flex-wrap: wrap;
    }

    .categories li {
        margin: 13px;
    }

    .image-container{ 
        flex-wrap: wrap;
        gap: 4px;
    }

    .image-item {
        width: calc((100% / 4) - (10px /3)) 
        /* width: 25%; */
    }
}

/* responsive tablet */

@media screen and (max-width:750px) {
    .image-item {
        width: calc((100% / 2) - (4px / 2));
        padding: 4px;
    }
}

/* responsive mobile */

@media screen and (max-width:480px) {
    .sidebar-sx {
        width: 50px;
    }
    
    .sidebar-sx div {
        display: none;
    }

    .sidebar-dx {
        width: calc(100% - 50px);
    }

    .upgrade {
        left: 50px;
    }

    .categories li {
        /* margin: 5px; */
    }
    
    .nav-bar-center-icon a {
        padding: 0;
    }
}
