/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.icon {
    color: black;
}

/* sezione contenuto principale */
main {
    display: flex;
    height: 100vh;
    height: calc(100vh - 80px);
}
/* sidebar di sinistra */
.sidebar-sx {
    background-color: rgb(0, 255, 72);
    width: 200px;
    padding-left: 10px;
}

.container-sidebar-sx {

}

.sidebar-icon-sx {
    max-width: 30px;
    display: flex;
    align-items: center;  
    gap: 8px;  
}

/* profilo */

.profile-area {
    position: fixed;
    bottom: 90px;
}

.profile-area-spacing {
    border: 1px solid rgb(190, 168, 168);
}
/* sezione upgrade */
.upgrade {
    height: 10vh;
    background-color: rgb(221, 255, 127);
}
/* sezione da mettere in trasparenza (upgrade) */
.sidebar-dx {
    background-color: red;
    flex-grow: 1;
}
/* postazione controlli su varia musica */
.nav-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 80px;
    background-color: brown;
}
