/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
}
a {
    text-decoration: none;
}

li {
    list-style-type: NONE;
}

.icon1 {
    fill: rgb(214, 40, 40);
    stroke: red;
}

/* sezione contenuto principale */
main {
    display: flex;
    height: 100vh;
    height: calc(100vh - 80px);
}
/* sidebar di sinistra */
.sidebar-sx {
    background-color: rgb(0, 255, 72);
    width: 200px;
    padding-left: 10px;
}

.container-sidebar-sx {

}

.sidebar-icon-sx {
    max-width: 30px;
    display: flex;
    align-items: center;  
    gap: 8px;  
}

/* profilo */

.profile-area {
    position: fixed;
    bottom: 90px;
}

.profile-area-spacing {
    border: 1px solid rgb(190, 168, 168);
}


/* sezione upgrade */
.upgrade {
    height: 10vh;
    background-color: rgb(221, 255, 127);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.effettua-upgrade {
    border: 1px solid gray;
    padding: 10px 25px;
    border-radius: 30px;
}
/* sezione da mettere in trasparenza (upgrade) */
.sidebar-dx {
    background-color: red;
    width: 100%;
}

.categories {
    display: flex;
    justify-content: center;
}

.categories a {
    padding: 10px;

}

.image-container {
    display: flex;
    gap: 10px;
    padding: 40px 15px;
}

.image-item {
    width: calc((100% / 6))
}

.align-center {
    text-align: center;
}
/* postazione controlli su varia musica */
.nav-bar {
    /* position: fixed;
    bottom: 0;
    right: 0;
    left: 0; inutile */
    height: 80px;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-sx {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.nav-bar-sx-img {
    max-width: 50px;
}
